@charset "UTF-8";

:root {
  --main-color:#24A8BF;
  --font-color:#333333;
  --font-family-Arial:Arial, sans-serif;
  --font-family-Hiragino:"Hiragino Kaku Gothic ProN",sans-serif;
}

/* ================================== */
/*  1. header                         */
/* ================================== */
.title {              /* site name */
  margin: 50px 0;
  text-align: center;
}

.header_image img {   /* header img */
  width:100%;
}

/* ================================== */
/*  2. menu                           */
/* ================================== */
.menu {
  margin: 40px 0 90px;
}

.menu ul {            /* menu 横並び */
  display: flex;
  justify-content: center;
  gap:80px;
}

.menu ul li a{
  font-family: var(--font-family-Arial);
  font-size: 18px;
  letter-spacing: 1.8px;
  color:#333333;
}

/* ================================== */
/*  3. concept                        */
/* ================================== */
.concept {                  /* 横並び */
  display: flex;
  justify-content: center;
  align-items: center;
}

.concept .concept_image {   /* image */
  flex:1;
  text-align: right;
}

.concept img {
  max-width: 555px;
  width:100%;
  height:auto;
}

.concept .concept_message {   /* text */
  flex:1;
  text-align: left;
}

.concept .concept_message .text{
  margin-left: 40px;
}

.concept .concept_message .text h1 {
  font-family: var(--font-family-Arial);
  font-size: 18px;
  letter-spacing: 1.8px;
  color:var(--font-color);
}

.concept .concept_message .text h2 {
  margin: 20px 0 30px;
  font-family: var(--font-family-Hiragino);
  color:var(--main-color);
  font-weight: 600;
  font-size: 32px;
  letter-spacing:3.2px;
}

.concept .concept_message .text p {
  font-family: var(--font-family-Hiragino);
  color:var(--font-color);
  font-weight: 300;
  font-size: 16px;
  letter-spacing:1.6px;
  line-height:29px;
}

/* ================================== */
/*  4. blog                           */
/* ================================== */

.blog {
  margin-top: 100px;
}

.blog .e_blog {
  font-size: 32px;
  font-weight: bold;
  letter-spacing:2.56px;
  color:var(--main-color);
  font-family: var(--font-family-Arial);
}

.blog .j_blog {
  margin-top: 8px;
  font-size: 10px;
  font-family: var(--font-family-Hiragino);
  font-weight: 600;
  color:var(--font-color);
  font-size: 13px;
  letter-spacing: 0.39px;
}

.blog h2 {
  text-align: center;
}

.blog_contents {
  display:flex;
  justify-content: center;
  gap:30px;
  margin:20px 0 30px;
}

.blog_body {
  max-width: 350px;
  height:auto;
}

.blog_body img {
  width:100%;
}

.blog_body h3 {     /* blog title */
  margin-top: 12px;
  font-family: var(--font-family-Hiragino);
  color:var(--font-color);
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
}

.blog_body time {
  display: block;
  margin-top: 6px;
  font-family: var(--font-family-Arial);
  font-size: 12px;
  letter-spacing: 0.6px;
}

.blog_botton {
  place-items: center;
  display:grid;
}

.blog_botton_box {
  background-color: #ffffff;
  border:1px solid var(--main-color);
  padding: 18px 73px 18px 72px;
  color:var(--main-color);
  border-radius: 3px;
  position:relative;
}

.blog_botton_box span {
  font-size: 15px;
  font-weight: 600;
  font-family: (--font-family-Hiragino);
}

.blog_botton_box img {
  width:5px;
  height:9px;
  vertical-align: middle;
  position:absolute;
  right:20.5px;
  top:21.5px;
}

/* ================================== */
/*  5. footer                         */
/* ================================== */
footer {
  margin-top: 50px;
  background-color: #000;
}

footer .footer {
  text-align: center;
}

footer img{
  padding: 70px 0 20px;
}

footer p {
  padding:30px 0;
  font-family: var(--font-family-Arial);
  color:#8B8B8B;
  font-size: 12px;
  letter-spacing: 0.6px;
}